<h2>Sign Up Component</h2>

<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="name">Name: </label>
        <input id="name" type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
        <label for="email">Email: </label>
        <input id="email" type="text" type="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input id="password" type="text" type="password" class="form-control" formControlName="password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary m-2">Register</button>
        <a routerLink="/sign-in">Sing In</a>
    </div>
</form>