<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div lass="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Questionnaire</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/sign-in">Sing In</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/sign-up">Sing Up</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
        </ul>
    </div>
</nav>